<p style="color: red"><%%= alert %></p>

<h1>Forgot your password?</h1>

<%%= form_with(url: identity_password_reset_path) do |form| %>
  <div>
    <%%= form.label :email, style: "display: block" %>
    <%%= form.email_field :email, required: true, autofocus: true %>
  </div>

  <div>
    <%%= form.submit "Send password reset email" %>
  </div>
<%% end %>
