Hey there,

We just wanted to confirm that your password has been updated.

If you didn't make this change, someone else may have access to your account. If you think that may be the case, please reply to this email and our support team will help you out.
