Hello <%%= params[:<%= singular_table_name %>].email %>

Someone has requested a link to change your password, and you can do this through the link below.

[Change my password]<%%= password_reset_edit_url(token: @token) %>

If you didn't request this, please ignore this email.
Your password won't change until you access the link above and create a new one.
