class CancellationsController < ApplicationController
  def new
  end

  def create
    Current.<%= singular_table_name %>.destroy
    redirect_to sign_in_path, notice: "Bye! Your account has been successfully cancelled"
  end
end
