require "application_system_test_case"

class CancellationsTest < ApplicationSystemTestCase
  setup do
    @<%= singular_table_name %> = sign_in_as(<%= table_name %>(:lazaro_nixon))
  end

  test "cancelling my account" do
    click_on "Cancel my account & delete my data"
    click_on "OK, close my account"

    assert_text "Your account is closed"
  end

  def sign_in_as(<%= singular_table_name %>)
    visit sign_in_url
    fill_in :email, with: <%= singular_table_name %>.email
    fill_in :password, with: "secret123"
    click_on "Sign in"

    return <%= singular_table_name %>
  end
end
