require "application_system_test_case"

class EmailsTest < ApplicationSystemTestCase
  setup do
    @<%= singular_table_name %> = sign_in_as(<%= table_name %>(:lazaro_nixon))
  end

  test "updating the email" do
    click_on "Change email address"

    fill_in "Current password", with: "Secret123"
    fill_in "New email", with: "new_email@hey.com"
    click_on "Save changes"

    assert_text "Your email has been changed"
  end

  test "sending a verification email" do
    @<%= singular_table_name %>.update! verified: false

    click_on "Change email address"
    click_on "Re-send verification email"

    assert_text "We sent a verification email to your email address"
  end

  def sign_in_as(<%= singular_table_name %>)
    visit sign_in_url
    fill_in :email, with: <%= singular_table_name %>.email
    fill_in :password, with: "Secret123"
    click_on "Sign in"

    return <%= singular_table_name %>
  end
end
