require "application_system_test_case"

class PasswordResetsTest < ApplicationSystemTestCase
  setup do
    @<%= singular_table_name %> = <%= table_name %>(:lazaro_nixon)
    @sid = @<%= singular_table_name %>.signed_id(purpose: :password_reset, expires_in: 20.minutes)
  end

  test "sending a password reset email" do
    visit sign_in_url
    click_on "Forgot your password?"

    fill_in "Email", with: @<%= singular_table_name %>.email
    click_on "Send password reset email"

    assert_text "Check your email for reset instructions"
  end

  test "updating password" do
    visit edit_password_resets_url(token: @sid)

    fill_in "New password", with: "new_password"
    fill_in "Confirm new password", with: "new_password"
    click_on "Save changes"

    assert_text "Your password was reset successfully. Please sign in"
  end
end
