require "application_system_test_case"

class PasswordsTest < ApplicationSystemTestCase
  setup do
    @<%= singular_table_name %> = sign_in_as(<%= table_name %>(:lazaro_nixon))
  end

  test "updating the password" do
    click_on "Change password"

    fill_in "Current password", with: "Secret123"
    fill_in "New password", with: "Secret321"
    fill_in "Confirm new password", with: "Secret321"
    click_on "Save changes"

    assert_text "Your password has been changed"
  end

  def sign_in_as(<%= singular_table_name %>)
    visit sign_in_url
    fill_in :email, with: <%= singular_table_name %>.email
    fill_in :password, with: "Secret123"
    click_on "Sign in"

    return <%= singular_table_name %>
  end
end
