require "application_system_test_case"

class RegistrationsTest < ApplicationSystemTestCase
  setup do
    @<%= singular_table_name %> = <%= table_name %>(:lazaro_nixon)
  end

  test "signing up" do
    visit sign_in_url
    click_on "Sign up"

    fill_in "Email", with: "lazaronixon@hey.com"
    fill_in "Password", with: "Secret654321"
    fill_in "Password confirmation", with: "Secret654321"
    click_on "Sign up"

    assert_text "Welcome! You have signed up successfully"
  end

  test "cancelling my account" do
    sign_in_as @<%= singular_table_name %>
    click_on "Cancel my account & delete my data"

    assert_text "Your account is closed"
  end

  def sign_in_as(<%= singular_table_name %>)
    visit sign_in_url
    fill_in :email, with: <%= singular_table_name %>.email
    fill_in :password, with: "Secret123456"
    click_on "Sign in"

    return <%= singular_table_name %>
  end
end
