require "application_system_test_case"

class RegistrationsTest < ApplicationSystemTestCase
  test "signing up" do
    visit sign_in_url
    click_on "Sign up"

    fill_in "Email", with: "lazaronixon@hey.com"
    fill_in "Password", with: "new_password"
    fill_in "Password confirmation", with: "new_password"
    click_on "Sign up"

    assert_text "Welcome! You have signed up successfully"
  end
end
