require "application_system_test_case"

class SudosTest < ApplicationSystemTestCase
  setup do
    @<%= singular_table_name %> = sign_in_as(<%= table_name %>(:lazaro_nixon))
  end

  test "executing sudo" do
    visit new_sudo_url(proceed_to_url: edit_password_url)
    fill_in :password, with: "Secret123456"
    click_on "Continue"

    assert_selector "h1", text: "Enter your password to continue"
  end

  def sign_in_as(<%= singular_table_name %>)
    visit sign_in_url
    fill_in :email, with: <%= singular_table_name %>.email
    fill_in :password, with: "Secret123456"
    click_on "Sign in"

    return <%= singular_table_name %>
  end
end
