<p style="color: red"><%%= alert %></p>

<h1>Forgot your password?</h1>

<%%= form_with(url: password_resets_path) do |form| %>
  <div>
    <%%= form.label :email, style: "display: block" %>
    <%%= form.email_field :email, value: params[:email_hint], autofocus: true, required: true %>
  </div>

  <div>
    <%%= form.submit "Send password reset email" %>
  </div>
<%% end %>
