class SudosController < ApplicationController
  before_action :set_session, only: :create

  def create
    if @session.<%= singular_table_name %>.authenticate(params[:password])
      @session.update! sudo_at: Time.current
    else
      render json: { error: "The password you entered is incorrect" }, status: :bad_request
    end
  end

  private
    def set_session
      @session = Current.session
    end
end
