<p style="color: red"><%%= alert %></p>

<%%= form_with(url: two_factor_authentication_challenge_path) do |form| %>
  <%%= form.hidden_field :token, value: params[:token] %>

  <div>
    <%%= form.label :code do %>
      <h1>Next, open the 2FA authenticator app on your phone and type the six digit code below:</h1>
    <%% end %>
    <%%= form.text_field :code, autofocus: true, required: true, autocomplete: :off %>
  </div>

  <div>
    <%%= form.submit "Verify" %>
  </div>
<%% end %>
