class PasswordMailer < ApplicationMailer
  def reset
    @token = params[:<%= singular_table_name %>].signed_id(purpose: "password_reset", expires_in: 15.minutes)
    mail to: params[:<%= singular_table_name %>].email
  end
end
