require "test_helper"

class PasswordResetsControllerTest < ActionDispatch::IntegrationTest
  setup do
    @<%= singular_table_name %> = <%= table_name %>(:lazaro_nixon)
  end

  test "should get edit" do
    signed_id = @<%= singular_table_name %>.signed_id(purpose: "password_reset", expires_in: 20.minutes)
    get edit_passwords_url(token: signed_id)

    assert_response :not_found
    assert_equal "Open this link in your device", response.parsed_body["error"]
  end

  test "should send a password reset email" do
    assert_enqueued_email_with PasswordMailer, :reset, args: { <%= singular_table_name %>: @<%= singular_table_name %> } do
      put password_resets_url, params: { email: @<%= singular_table_name %>.email }
    end

    assert_response :no_content
  end

  test "should not send a password reset email to a nonexistent email" do
    assert_no_enqueued_emails do
      put password_resets_url, params: { email: "invalid_email@hey.com" }
    end

    assert_response :not_found
    assert_equal "The email address doesn't exist in our database", response.parsed_body["error"]
  end

  test "should update password" do
    signed_id = @<%= singular_table_name %>.signed_id(purpose: "password_reset", expires_in: 20.minutes)
    patch password_resets_url, params: { token: signed_id, password: "new_password", password_confirmation: "new_password" }

    assert_response :success
  end

  test "should not update password with expired token" do
    signed_id = @<%= singular_table_name %>.signed_id(purpose: "password_reset", expires_in: 0.seconds)
    patch password_resets_url, params: { token: signed_id, password: "new_password", password_confirmation: "new_password" }

    assert_response :bad_request
    assert_equal "Your token has expired, please request a new one", response.parsed_body["error"]
  end
end
