require "test_helper"

class SessionsControllerTest < ActionDispatch::IntegrationTest
  setup do
    @<%= singular_table_name %> = <%= table_name %>(:lazaro_nixon)
  end

  test "should sign in" do
    post sign_in_url, params: { email: @<%= singular_table_name %>.email, password: "secret123" }
    assert_response :success
  end

  test "should not sign in with wrong credentials" do
    post sign_in_url, params: { email: @<%= singular_table_name %>.email, password: "wrong_password" }
    assert_response :unauthorized
  end

  test "should sign out" do
    <%= singular_table_name %>, token = sign_in_as(<%= table_name %>(:lazaro_nixon))

    delete sign_out_url, headers: { "Authorization" => "Bearer #{token}" }
    assert_response :no_content
  end
end
