<p>Hey there,</p>

<p>You requested a magic sign-in link. Here you go:</p>

<%%= link_to "Sign in without password", edit_sessions_passwordless_url(sid: @signed_id) %>

<hr>

<p>Have questions or need help? Just reply to this email and our support team will help you sort it out.</p>
