<h1>Want to close your account?</h1>

<p>Your account will be immediately closed. You won’t be able to sign in anymore.</p>
<p>Your data will be permanently deleted from our servers.</p>
<p><%= link_to "Back", :back %></p>

<br>

<div>
  <%= button_to "OK, close my account", cancellation_path, method: :post %>
</div>
