require "test_helper"

class RegistrationsControllerTest < ActionDispatch::IntegrationTest
  test "should get new" do
    get sign_up_url
    assert_response :success
  end

  test "should sign up" do
    assert_difference("<%= class_name %>.count") do
      post sign_up_url, params: { <%= singular_table_name %>: { email: "lazaronixon@hey.com", password: "Secret123456", password_confirmation: "Secret123456" } }
    end

    assert_redirected_to root_url
  end

  test "should destroy account" do
    sign_in_as <%= table_name %>(:lazaro_nixon)

    assert_difference("<%= class_name %>.count", -1) do
      delete registration_path
    end

    assert_redirected_to sign_in_url
  end

  def sign_in_as(<%= singular_table_name %>)
    post(sign_in_url, params: { email: <%= singular_table_name %>.email, password: "Secret123456" }); <%= singular_table_name %>
  end
end
