class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :sessions do |t|
      t.references :<%= singular_table_name %>, null: false, foreign_key: true

      t.string :user_agent, null: false
      t.string :ip_address, null: false

      t.datetime :sudo_at, null: false

      t.timestamps
    end
  end
end
