class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :password_reset_tokens do |t|
      t.references :user, null: false, foreign_key: false
    end
  end
end
