class <%= migration_class_name %> < ActiveRecord::Migration[<%= ActiveRecord::Migration.current_version %>]
  def change
    create_table :sign_in_tokens do |t|
      t.references :user, null: false, foreign_key: true
    end
  end
end
