class Current < ActiveSupport::CurrentAttributes
  attribute :session, :user
  attribute :user_agent, :ip_address
  <%- if options.tenantable? %>
  attribute :account
  <%- end -%>

  def session=(session)
    super; self.user = session.user
  end
  <%- if options.tenantable? %>
  def user=(user)
    super; self.account = user.account
  end
  <%- end -%>
end
