class Current < ActiveSupport::CurrentAttributes
  attribute :session, :<%= singular_table_name %>

  def session=(session)
    super; self.<%= singular_table_name %> = session.<%= singular_table_name %>
  end
end
