class Session < ApplicationRecord
  belongs_to :<%= singular_table_name %>

  before_create do
    self.user_agent = Current.user_agent
    self.ip_address = Current.ip_address
    self.sudo_at = Time.current
  end  

  after_create_commit do
    SessionMailer.with(session: self).signed_in_notification.deliver_later
  end
end
