Hey there,

This is to confirm that <%%= @<%= singular_table_name %>.email %> is the email you want to use on your account. If you ever lose your password, that's where we'll email a reset link.

You must hit the link below to confirm that you received this email.

[Yes, use this email for my account]<%%= edit_email_verification_url(token: @signed_id, email: @<%= singular_table_name %>.email) %>

Have questions or need help? Just reply to this email and our support team will help you sort it out.
